# Thid only intend for local development and testing
# At the mean time there is no documentation how set this up
# envchain --set gitlab DANGER_GITLAB_API_TOKEN
export DANGER_GITLAB_API_TOKEN=$(envchain gitlab env | grep DANGER_GITLAB_API_TOKEN | cut -d'=' -f2)
export DANGER_GITLAB_HOST=https://gitlab.com
